@page "/settings"

<PageTitle>Settings</PageTitle>

@using BlazorExample.Data
@using Nogic.WritableOptions

@inject IWritableOptions<AppOption> AppOption

<h1>Settings</h1>

<p role="status">
  API Key: @AppOption.CurrentValue.ApiKey <br />
  Last Changed: @AppOption.CurrentValue.LastChanged
</p>

<button class="btn btn-primary" @onclick="UpdateSettings">Update</button>

@code {
  private void UpdateSettings()
    => AppOption.Update(new()
      {
        ApiKey = Guid.NewGuid().ToString(),
        LastChanged = DateTime.Now
      }, true);
}
