name: Benchmark

on: workflow_dispatch

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  benchmark:
    name: Benchmark
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.2.0
        with:
          dotnet-version: ${{ vars.DOTNET_SDK_VERSIONS }}
          cache: true
          cache-dependency-path: '**/packages.lock.json'

      - name: Restore
        run: dotnet restore --locked-mode
      - name: Run Benchmark
        working-directory: sandbox/Benchmark
        run: dotnet run -c Release -f net6.0

      - uses: actions/upload-artifact@v4.6.0
        with:
          name: BenchmarkResults
          path: sandbox/Benchmark/BenchmarkDotNet.Artifacts/
          include-hidden-files: true

      - name: Add Job Summaries
        run: |
          "# Benchmark Result :bar_chart: from ${{ github.sha }}" >> $env:GITHUB_STEP_SUMMARY
          cat ./sandbox/Benchmark/BenchmarkDotNet.Artifacts/results/Benchmark.WritableOptionsBenchmark-report-github.md >> $env:GITHUB_STEP_SUMMARY
          "## Legends" >> $GITHUB_STEP_SUMMARY
          "- **Mean**: Arithmetic mean of all measurements" >> $env:GITHUB_STEP_SUMMARY
          "- **Error**: Half of 99.9% confidence interval" >> $env:GITHUB_STEP_SUMMARY
          "- **StdDev**: Standard deviation of all measurements" >> $env:GITHUB_STEP_SUMMARY
          "- **Median**: Value separating the higher half of all measurements (50th percentile)" >> $env:GITHUB_STEP_SUMMARY
          "- **Ratio**: Mean of the ratio distribution ([Current]/[Baseline])" >> $env:GITHUB_STEP_SUMMARY
          "- **RatioSD**: Standard deviation of the ratio distribution ([Current]/[Baseline])" >> $env:GITHUB_STEP_SUMMARY
          "- **Gen 0**: GC Generation 0 collects per 1000 operations" >> $env:GITHUB_STEP_SUMMARY
          "- **Allocated**: Allocated memory per single operation (managed only, inclusive, 1KB = 1024B)" >> $env:GITHUB_STEP_SUMMARY
          "- **Alloc Ratio** : Allocated memory ratio distribution ([Current]/[Baseline])" >> $env:GITHUB_STEP_SUMMARY
          "- **1 ms**: 1 Millisecond (0.001 sec)" >> $env:GITHUB_STEP_SUMMARY
