name: Benchmark

on: workflow_dispatch

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  benchmark:
    name: Run
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3.0.2
      - uses: actions/cache@v3.0.2
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v2.1.0
        with:
          dotnet-version: |
            3.1.x
            6.x

      - name: Restore
        run: dotnet restore --locked-mode
      - name: Run Benchmark
        working-directory: sandbox/Benchmark
        run: dotnet run -c Release -f net6.0 --filter *WritableOptionsBenchmark*

      - uses: actions/upload-artifact@v3.0.0
        with:
          name: BenchmarkResults
          path: sandbox/Benchmark/BenchmarkDotNet.Artifacts/

      - name: Add Job Summaries
        run: |
          "# Benchmark Result:bar_chart:" >> $env:GITHUB_STEP_SUMMARY
          cat ./sandbox/Benchmark/BenchmarkDotNet.Artifacts/results/Benchmark.WritableOptionsBenchmark-report-github.md >> $env:GITHUB_STEP_SUMMARY
          "## Legends" >> $GITHUB_STEP_SUMMARY
          "- **Mean**: Arithmetic mean of all measurements" >> $env:GITHUB_STEP_SUMMARY
          "- **Error**: Half of 99.9% confidence interval" >> $env:GITHUB_STEP_SUMMARY
          "- **StdDev**: Standard deviation of all measurements" >> $env:GITHUB_STEP_SUMMARY
          "- **Ratio**: Mean of the ratio distribution ([Current]/[Baseline])" >> $env:GITHUB_STEP_SUMMARY
          "- **1 ms**: 1 Millisecond (0.001 sec)" >> $env:GITHUB_STEP_SUMMARY
