name: Release

on:
  release:
    types:
      - published

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true
  NUGET_XMLDOC_MODE: skip
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  release:
    name: Publish to NuGet
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.0
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: ${{ vars.DOTNET_SDK_VERSIONS }}
          cache: true
          cache-dependency-path: '**/packages.lock.json'

      - name: Restore
        run: dotnet restore
      - name: Release Build & Pack
        run: dotnet pack ./src/Nogic.WritableOptions/Nogic.WritableOptions.csproj -c Release --no-restore --output nupkgs -p:Version=${TAG_VERSION:1} -p:AssemblyName=Nogic.WritableOptions
        env:
          TAG_VERSION: ${{ github.event.release.tag_name }} # v0.0.0-abc

      - name: Publish to NuGet
        run: dotnet nuget push "nupkgs/*.nupkg" --source ${{ vars.NUGET_API_SOURCE }} --api-key ${{ secrets.NUGET_API_KEY }}
      - uses: actions/upload-artifact@v4.4.0
        with:
          name: packages
          path: nupkgs/
